$border-yellow: #f9b718;
$bg-yellow: #ffc12d;
$border-green: #7bc200;
$bg-green: #97e411;
$border-red: #f55c43;
$bg-red: #fd7761;
$icon-red: #d52e13;
$border-blue: #47b4f6;
$bg-blue: #6fd9fc;
$border-purple: #8781bd;
$bg-purple: #a39cdc;

$headline-txt-color: #2c3e50;
$main-txt-color: #a1b1bc;
$txt-border-color: #e2e6e7;
