$border-yellow: #f9b718;
$bg-yellow: #ffc12d;
$icon-yellow: #a47503;

$border-green: #7bc200;
$bg-green: #97e411;
$icon-green: #558502;

$border-red: #f55c43;
$bg-red: #fd7761;
$icon-red: #d52e13;

$border-blue: #47b4f6;
$bg-blue: #6fd9fc;
$icon-blue: #0787d4;

$border-purple: #8781bd;
$bg-purple: #a39cdc;
$icon-purple: #5b568e;

$headline-txt-color: #2c3e50;
$main-txt-color: #a1b1bc;
$txt-border-color: #e2e6e7;

$xmark-color: #cfd2d3;
