* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1920px;
  height: 1859px;
  margin-left: 374px;
  margin-top: 150px;
}

.main-img {
  width: 1170px;
  height: 800px;
  background: #ecf0f1;
  margin-bottom: 47.4px;
}

h1 {
  letter-spacing: 0.5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 35px;
  font-weight: normal;
  line-height: 36px;
  color: #2c3e50;
  margin-bottom: 17px;
  margin-left: 0.3px;
  font-weight: 400;
}

.divider > p:not(:last-child)::after {
  content: "|";
  color: #ebebeb;
  margin-left: 10.8px;
}

.divider {
  display: flex;
  gap: 10px;
  margin-bottom: 52.5px;
}

.divider > p {
  color: #a1b1bc;
  font-family: "Roboto";
  font-size: 14px;
}

.divider::after {
  content: "";
  height: 5px;
  width: 1170px;
  height: 1px;
  background: #ecf0f1;
  position: absolute;
  left: 374px;
  top: 1096px;
}

.first-p {
  width: 1199px;
  height: 171px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 23.2px;
  font-style: normal;
  color: #a1b1bc;
}

.quote-header {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  color: #a1b1bc;
  margin-bottom: 11px;
}

.quote-txt {
  width: 886.4px;
  height: 193.3px;
  opacity: 0.6;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: #a1b1bc;
}
.quote {
  width: 1142px;
  height: 165px;
  padding: 41px 186px 39px 68px;
  margin: 29px 0 0 30px;
  border: 0.05px solid #f2eaea;
  position: relative;
}

.quote::before {
  content: "";
  width: 9.2px;
  height: 100%;
  background-color: #21c2f8;
  position: absolute;
  left: 0;
  top: 0;
}
.second-p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  line-height: 22.95px;
  font-style: normal;
  text-align: left;
  color: #a1b1bc;
  width: 1172px;
  height: 42.7px;
  margin-top: 29px;
  margin-left: 1px;
}

.f-letter {
  width: 40px;
  height: 40px;
  background: #34495e;
  float: left;

  font-family: "Arial";
  font-size: 29.6px;
  font-weight: normal;
  line-height: 15.183107376098633px;

  font-style: normal;
  color: #21c2f8;
  padding: 12.9px 8px 2px 11.8px;
  margin-top: 34px;
  margin-left: 1px;
  margin-right: 4.9px;
}

.third-p-header {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #34495e;
  margin-top: 110px;
  margin-left: 0.7px;
}

.third-p-txt {
  margin-top: 14px;
  width: 1195px;
  height: 206.6px;

  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  line-height: 23px;
  font-style: normal;
  text-align: left;
  color: #a1b1bc;
  margin-left: 1px;
}
