body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefaf5;
  margin: 4rem;
}

.home-btn {
  background-color: rgb(216, 126, 70);
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 12px 20px 12px 10px;
  font-size: 16px;
  margin: 0 1rem 2rem 0;
}
.home-btn:hover,
.back-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 168, 114);
  color: rgb(67, 66, 66);
  transition: all 0.5s ease-out;
}

h1 {
  text-align: center;
  color: rgb(89, 88, 88);
  margin-bottom: 5rem;
}

img {
  height: 300px;
  width: 350px;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 0.2rem;
}

.music-main,
.sport-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(127, 86, 11);
  font-size: 1.2rem;
  font-weight: 500;
}
a:hover {
  color: rgb(198, 140, 64);
}
