* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class^="box"] {
  border: 4px solid black;
  background-color: rgb(244, 216, 180);
}

.container {
  width: 569px;
  margin: 5rem auto;
  margin: 1rem;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.box1 {
  width: 60px;
  height: 140px;
  background-color: white;
}

.box2 {
  width: 60px;
  height: 90px;
  border-top: none;
}

.box3 {
  width: 80px;
  height: 50px;
  border-bottom: none;
}
.box4 {
  border-bottom: none;
  height: 86px;
  width: 80px;
}

.box5 {
  width: 80px;
  height: 94px;
}

.box5 {
  background-color: white;
}

.box6 {
  width: 70px;
  height: 50px;
  border-left: none;
  border-bottom: none;
}

.box7 {
  width: 70px;
  height: 180px;
  background-color: black;
}
/********/

.box8,
.box9 {
  width: 210px;
  height: 70px;
  border-bottom: none;
}

.box9 {
  background-color: rgb(73, 133, 212);
}

.box10 {
  width: 210px;
  height: 90px;
  background-color: black;
}

/*******************************/
.box11 {
  background-color: white;
  width: 60px;
  height: 140px;
}

.box12 {
  width: 80px;
  height: 30px;
  background-color: rgb(194, 10, 10);
  border-bottom: none;
}

.box13 {
  width: 80px;
  height: 110px;
  background-color: rgb(255, 205, 23);
}

.box14 {
  width: 70px;
  height: 140px;
  border-left: none;
}

/***************************************/

.box15 {
  width: 150px;
  height: 50px;
  border-bottom: none;
  background-color: white;
}

.box16 {
  background-color: rgb(73, 133, 212);
  width: 150px;
  height: 180px;
}

/********************************/

.box17 {
  width: 80px;
  height: 230px;
  border-right: none;
  border-bottom: none;
}

.box18 {
  width: 70px;
  height: 30px;
  border-bottom: none;
}

.box19 {
  width: 70px;
  height: 200px;
  background-color: rgb(255, 205, 23);
  border-bottom: none;
}

/**********************************/

.box20 {
  width: 150px;
  height: 140px;
  background-color: white;
}
/*******************************/

.box21 {
  width: 80px;
  height: 110px;
  border-left: none;
  border-bottom: none;
}

.box22 {
  width: 80px;
  height: 30px;
  background-color: rgb(255, 205, 23);
  border-left: none;
}
.box23 {
  border-left: none;
  border-right: none;
  width: 40px;
  height: 140px;
  background-color: white;
}
.box24 {
  width: 120px;
  height: 90px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.box25 {
  width: 50px;
  height: 230px;
  background-color: rgb(194, 10, 10);
}
.box26 {
  width: 40px;
  height: 230px;
}

/************************************/

.box27 {
  background-color: black;
  width: 170px;
  height: 70px;
}

.box28 {
  width: 120px;
  height: 70px;
  border-right: none;
}
.box29 {
  width: 50px;
  height: 70px;
}

.box30,
.box31 {
  width: 40px;
  height: 70px;
}
.box30 {
  border-top: none;
  border-bottom: none;
  background-color: white;
}

/************************/

.box32 {
  background-color: rgb(194, 10, 10);
  width: 80px;
  height: 160px;
  border-right: none;
}
.box33 {
  width: 130px;
  height: 90px;
  background-color: rgb(255, 205, 23);
}

.box34 {
  width: 130px;
  height: 70px;
  background-color: rgb(73, 133, 212);
}

.box35 {
  width: 210px;
  height: 70px;
  border-top: none;
}
