$border-yellow: #c89210;
$bg-yellow: #ffc12d;
$icon-yellow: #a47503;

$border-green: #7bc200;
$bg-green: #97e411;
$icon-green: #558502;

$border-red: #f55c43;
$bg-red: #feb1a4;
$icon-red: #d52e13;

$border-blue: #47b4f6;
$bg-blue: #85ebfa;
$icon-blue: #0787d4;

$border-purple: #8781bd;
$bg-purple: #aacdf6;
$icon-purple: #5b568e;

$main-txt-color: #2c3e50;
